<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
    <link rel="stylesheet" href="./public/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: rgba(7, 7, 7, 0.928);
            color: white;
            }
        nav a{
            color: yellow;
            text-decoration: none;
            font-family: 'Oswald', sans-serif;
            
            background-color: rgb(104, 104, 114);
            display: inline-block;
            list-style: none;
            padding: 10px 30px 10px 30px;
            transition: all 0.3s ease 0s;
        }
        nav a:hover {
            transition: all 0.3s ease 0s;
            color:azure;
        }
       .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 500px;
        margin: 0 auto;
        border: 2px solid rgb(247, 244, 244);
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
        flex-grow: 1;
        
        }
.list li {
margin-bottom: 10px;
font-size: 20px;
text-transform: capitalize;
text-align: left;
}
#title {
text-transform: uppercase;
}
.list img {
display: block;
max-width: 100%;
height: auto;

}
.edit {
display: flex;
margin-top: 20px;
text-align: left;
text-transform:capitalize;
}
#ed {
color: aliceblue;

}
            
    </style>
</head>
<body>
    <header>
        <nav>
        <a href="/products">HOME</a>
        <a href="/new">CREATE A NEW PRODUCT</a>
        <a href="#">CONTACT</a>
        <a href="#">LOGIN</a>
        </nav>
        </header>
    <h1>EDIT PRODUCT</h1>

    <form action ="/products/<%=product._id%>?_method=PUT" method="POST">

    Name: <input type="text" name="name" value= "<%=product.name%>">
    Description: <input type="text" name="description" value= "<%=product.description%>">>
    Image: <input type="text" name="img" value= "<%=product.image%>">
    Qty: <input type="number" name="qty" value= "<%=product.qty%>">
    Price: <input type="number" name="price" value= "<%=product.price%>">
    
    <input type="submit" name="submit" value="EDIT PRODUCT " id="">

 </form>
     
</body>
</html>