<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product Page</title>
        <link rel="stylesheet" href="./public/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
        <nav class="show">
            <a  href="/products">HOME</a>
            <a  href="/new">CREATE A NEW PRODUCT</a>
            <a  href="#">CONTACT</a>
            <a  href="#">LOGIN</a>
        </nav>
    </header>


    <h1><%=product.name %></h1>


    <ul>
        <li><%=product.name %></li>
        <li><%=product.description %></li>
        <li><%=product.qty%></li>
        <li><%=product.price%></li>
        <img src="<%=product.img %>" alt="product picture">
    </ul>


<div class="edit">

   

    <a href="/products/<%= product._id %>/edit">Edit Product</a>
    
    <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
         <input type="submit" value="DELETE">
    </form>
    
    <form method="POST" action="/products/<%= product._id %>/buy">
        <% if(product.qty <= 0 ){ %>
            <button type="hidden"></button>
            <h3> OUT OF STOCK</h3>
        <% } else { %>
            <button type="submit">BUY</button>
        <% } %>
    </form>

</div>
    

    
</body>
</html>